<div
    class="flex items-center gap-2 p-1.5 bg-black-card border border-black-border rounded-xl w-full sm:w-fit overflow-x-auto no-scrollbar">
    <!-- Lineups Tab -->
    <button (click)="onTabClick('lineups')" [class.bg-white_10]="activeTab === 'lineups'"
        [class.text-white]="activeTab === 'lineups'" [class.shadow-sm]="activeTab === 'lineups'"
        [class.text-zinc-500]="activeTab !== 'lineups'" [class.hover:text-zinc-300]="activeTab !== 'lineups'"
        [class.hover:bg-white_5]="activeTab !== 'lineups'"
        class="flex-1 sm:flex-none px-6 py-2.5 rounded-lg text-sm font-bold transition-all whitespace-nowrap flex items-center justify-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        Lineups
    </button>

    <!-- Match Info Tab -->
    <button (click)="onTabClick('info')" [class.bg-white_10]="activeTab === 'info'"
        [class.text-white]="activeTab === 'info'" [class.shadow-sm]="activeTab === 'info'"
        [class.text-zinc-500]="activeTab !== 'info'" [class.hover:text-zinc-300]="activeTab !== 'info'"
        [class.hover:bg-white_5]="activeTab !== 'info'"
        class="flex-1 sm:flex-none px-6 py-2.5 rounded-lg text-sm font-bold transition-all whitespace-nowrap flex items-center justify-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Match Info
    </button>

    <!-- H2H Tab -->
    <button (click)="onTabClick('h2h')" [class.bg-white_10]="activeTab === 'h2h'"
        [class.text-white]="activeTab === 'h2h'" [class.shadow-sm]="activeTab === 'h2h'"
        [class.text-zinc-500]="activeTab !== 'h2h'" [class.hover:text-zinc-300]="activeTab !== 'h2h'"
        [class.hover:bg-white_5]="activeTab !== 'h2h'"
        class="flex-1 sm:flex-none px-6 py-2.5 rounded-lg text-sm font-bold transition-all whitespace-nowrap flex items-center justify-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4" />
        </svg>
        H2H
    </button>
</div>